<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demos.webicode.com/html/Bo-shop-html/shopping-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 May 2024 04:38:55 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="M_Adnan">
  <title>BoShop - Multipurpose eCommerce HTML5 Template</title>

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/user/rs-plugin/css/settings.css" media="screen" />

  <!-- Bootstrap Core CSS -->
  <link href="/user/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/user/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/user/css/ionicons.min.css" rel="stylesheet">
  <link href="/user/css/main.css" rel="stylesheet">
  <link href="/user/css/style.css" rel="stylesheet">
  <link href="/user/css/responsive.css" rel="stylesheet">
  <link href="/user/font/flaticon.css" rel="stylesheet">

  <!-- JavaScripts -->
  <script src="/user/js/modernizr.js"></script>

  <!-- Online Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800"
    rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css">


</head>

<body>

  <!-- LOADER -->
  <!-- <div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div> -->

  <!-- Wrap -->
  <div id="wrap">

    <!-- TOP Bar -->
    <div class="top-bar">
      <div class="container-full">
        <p><i class="icon-envelope"></i> Info@TickerShop.com </p>
        <p class="call"> <i class="icon-call-in"></i> 001 234 7895 </p>

        <!-- Login Info -->
        <div class="login-info">
          <ul>

            <% if (!userId) { %>
              <li><a href="/login">LOGIN</a></li>
              <% }else{%>
                <li><a href="/user/profile">MY ACCOUNT </a></li>
                <%} %>
                  <li><a href="/wishlist">WISHLIST</a></li>
                  <li><a id="Count" href="/cart">CART<i class="icon-basket-loaded"></i> <span
                        class="cart-count badge badge-danger text-white"></span></a></li>

                 
          </ul>
        </div>
      </div>
    </div>

    <!-- header -->
    <header>
      <div class="sticky">
        <div class="container-full d-flex justify-content-between ">

          <!-- Logo -->
          <div class="logo"> <a href="/"><img class="img-responsive w-25" src="/image/download.png" alt=""></a> </div>


          <div class=" mr-5 pr-5">
            <!-- <form id="searchForm" action=""  class="search-form"> -->
                       
              <div class="input-group flex-nowrap">  
                  <input id="searchInput" class="input-group__field  w-100  border " type="search" name="search" placeholder="Search" aria-label="search">
                  <button id="searchButton" class="btn rounded-end px-3 text-nowrap " type="submit"><i class="icon-magnifier "></i></button>
              </div>
          <!-- </form> -->
          </div>

          <nav class="navbar ownmenu navbar-expand-lg ml-5 ">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span></span> </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="collapse navbar-collapse" id="navbarNav">
                <nav class="header__menu mobile-menu">
                  <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <!-- <li><a href="/shop/men">Men</a></li>
                    <li><a href="/shop/women">Women</a></li> -->

                  </ul>
                </nav>

              </div>

            </div>
          </nav>

       
        </div>
      </div>
      <div class="clearfix"></div>
    </header>


    <!-- Content -->
    <div id="content">

      <!-- SUB BANNER -->
      <section class="sub-bnr" data-stellar-background-ratio="0.5">
        <div class="position-center-center">
          <div class="container">
            <h4>Shopping Cart</h4>
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
          </div>
        </div>
      </section>
      <% let total %>
      <% if(cartProduct.length==0){%>
        <div class="d-flex align-items-center justify-content-center mb-5 mt-5">
          <div class="">
            <h4 class="fw-bold">CART IS EMPTY</h4>
            <br>
            <a href="/shop" class="btn btn-primary border">Continue Shop</a>
          </div>

        </div>
        <%}else{%>
          <!-- PAGES INNER -->
          <section class="padding-top-40 padding-bottom-20 pages-in chart-page">
            <div class="container">

              <!-- Payments Steps -->
              <div class="shopping-cart text-center">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="text-left">Items</th>
                      <th scope="col">Price</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Total</th>
                      <th scope="col">Remove</th>
                    </tr>
                  </thead>
                  <tbody>




                    <% for(let i=0 ; i<cartProduct.length ; i++){ %>
                      <tr>
                        <th class="text-left"> <!-- Media Image -->
                          <a class="item-img"> <img class="media-object w-75"
                              src="/uploads/<%= cartProduct[i].productDetails[0].image[0] %>" alt=""> </a>

                          <!-- Item Name -->
                          <div class="media-body fs-4 mt-4">
                            <a href="/product?id=<%=cartProduct[i].productDetails[0]._id%>">
                              <%=cartProduct[i].productDetails[0].name %>
                            </a>
                            <p></p>
                          </div>
                        </th>
                        <td>
                          <% if (cartProduct[i].productDetails[0].offerPrice) { %>
                            <span class="price"><small>₹</small>
                              <%=cartProduct[i].productDetails[0].offerPrice %>
                            </span>
                            <% }else{%>
                              <span class="price"><small>₹ </small>
                                <%=cartProduct[i].productDetails[0].mrp %>
                              </span>
                              <%} %>

                        </td>
                        <td>
                          <div class="quantity">

                            <input id="quantity<%=i%>" name="quantity" type="number" min="1"
                              max="<%=(cartProduct[i].productDetails[0].stock >= 5) ? 5 : cartProduct[i].productDetails[0].stock %>"
                              step="1" readonly class="form-control qty" value="<%=cartProduct[i].products.quantity%>">
                            <div class="quantity-nav">
                              <div class="quantity-button quantity-up" id="up-button"
                                onclick="increment('<%=cartProduct[i].products._id%>','<%=cartProduct[i].productDetails[0].offerPrice? cartProduct[i].productDetails[0].offerPrice : cartProduct[i].productDetails[0].mrp%>','<%=cartProduct[i].productDetails[0].stock%>','<%=i%>','<%=total%>')">
                                <i id="upp" class="fa fa-caret-up" ::before></i>


                              </div>
                              <% if (cartProduct[i].productDetails[0].stock>0) { %>
                                <div class="quantity-button quantity-down" id="down-button"
                                  onclick="decrement('<%=cartProduct[i].products._id%>','<%=cartProduct[i].productDetails[0].offerPrice? cartProduct[i].productDetails[0].offerPrice : cartProduct[i].productDetails[0].mrp%>','<%=cartProduct[i].productDetails[0].stock%>','<%=i%>','<%=total%>')">
                                  <i class="fa fa-caret-down" ::before></i>


                                </div>
                                <% } else if (cartProduct[i].productDetails[0].stock===0){ %>
                                  <span class="d-block mt-2 text-danger">out of stock &#128542;</span>

                                  <% } %>



                            </div>


                          </div>

                          <%if(cartProduct[i].productDetails[0].stock<=5){%>
                            <strong class="d-block mt-2   text-danger fw-bold">stock:
                              <%=cartProduct[i].productDetails[0].stock%></strong>
                            <%}else{%>
                              <span></span>
                              <%}%>
                        </td>
                        <td class="item-total" id="total<%=i%>"><span class="price"><small>₹</small>
                            <%= (cartProduct[i].productDetails[0].offerPrice?
                              cartProduct[i].productDetails[0].offerPrice : cartProduct[i].productDetails[0].mrp )*
                              cartProduct[i].products.quantity %>
                          </span></td>
                        <td><i class="icon-close" onclick="remove('<%= cartProduct[i].products.productId %>')"></i></a>
                        </td>
                      </tr>
                      <% } %>



                  </tbody>

                </table>
              </div>
            </div>
          </section>


          <!-- PAGES INNER -->
          <section class="padding-top-10 padding-bottom-100 light-gray-bg shopping-cart small-cart d-flex">
            <div class="container">

              <!-- SHOPPING INFORMATION -->
              <div class="cart-ship-info margin-top-0 ">
                <div class="row">

                  <!-- DISCOUNT CODE -->
                  <div class="col-sm-7">
                    <!-- <h6>Discound Code</h6>
              <form>
                <input type="text" value="" placeholder="ENTER YOUR CODE IF YOU HAVE ONE">
                <button type="submit" class="btn btn-small btn-dark">APPLY CODE</button>
              </form> -->
                    <div class="coupn-btn"> <a href="/shop" class="btn ">continue shopping</a> </div>
                  </div>
                  <!-- <a href="#." class="btn ">Clearcart</a>  -->
                  <!-- SUB TOTAL -->
                  <div class="col-sm-5">
                    <h6>Grand Total</h6>
                    <div class="grand-total">
                      <div class="order-detail">
                       
                        <% for(let i=0 ; i<cartProduct.length ; i++){ %>

                          <p>
                            <%=cartProduct[i].productDetails[0].name %> <span class="text-primary bold"
                                id="item-totals-down<%=i %>">₹
                                <%= (cartProduct[i].productDetails[0].offerPrice?
                                  cartProduct[i].productDetails[0].offerPrice : cartProduct[i].productDetails[0].mrp) *
                                  cartProduct[i].products.quantity %>
                              </span>
                          </p>
                          <!-- <p>Shirts Skinny <span>$199 </span></p> -->
                          <%  total = cartProduct[i].totalCost %>
                          <%}%>

                            <% if (totalCost<2500) { %>
                              <p class="text-danger text-center font-weight-light"> Free delivary available above
                                RS:2500</p>

                              <% }else{%>
                                <p class="text-success text-center font-weight-light"> Free delivary available </p>
                                <% }%>
                                  <!-- SUB TOTAL -->
                                  <p id="totalCost" class="all-total">TOTAL COST: <span><small>₹</small>
                                    
                                      <%=total %>
                                    
                                    </span></p>
                      </div>
                      <a id="proceedBtn" class="btn margin-top-20 text-white">Proceed to checkout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <%} %>


    </div>

    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <!-- ABOUT Location -->
          <div class="col-md-4">
            <div class="about-footer"> <img class="margin-bottom-30 w-25" src="/image/images.png" alt="">
              <p><i class="icon-pointer"></i> Street No. 12, Newyork 12, <br>
                MD - 123, USA.</p>
              <p><i class="icon-call-end"></i> 1.800.123.456789 <br>
                1.800.123.456789</p>
              <p><i class="icon-envelope"></i> info@TickerShop.com <br>
                contact@TickerShop.com</p>
            </div>
          </div>

          <!-- HELPFUL LINKS -->
          <div class="col-md-5">
            <h6>Links</h6>
            <ul class="link two-half">
              <li><a href="#."> Products</a></li>
              <li><a href="#."> Find a Store</a></li>
              <li><a href="#."> Features</a></li>
              <li><a href="#."> Privacy Policy</a></li>
              <li><a href="#."> Blog</a></li>
              <li><a href="#."> Press Kit </a></li>
              <li><a href="#."> Products</a></li>
              <li><a href="#."> Find a Store</a></li>
              <li><a href="#."> Features</a></li>
              <li><a href="#."> Privacy Policy</a></li>
              <li><a href="#."> Blog</a></li>
              <li><a href="#."> Press Kit </a></li>
            </ul>
          </div>

          <!-- HELPFUL LINKS -->
          <div class="col-md-3">
            <h6>Account Info</h6>
            <ul class="link">
              <li><a href="#."> Products</a></li>
              <li><a href="#."> Find a Store</a></li>
              <li><a href="#."> Features</a></li>
              <li><a href="#."> Privacy Policy</a></li>
              <li><a href="#."> Blog</a></li>
              <li><a href="#."> Press Kit </a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Rights -->
      <div class="rights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>© 2018 BoShop All right reserved. <a href="https://webicode.com/">webicode</a></p>
            </div>
            <div class="col-md-6 text-right"> <img src="images/card-icon.png" alt=""> </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/user/js/jquery-1.12.4.min.js"></script>
  <script src="/user/js/popper.min.js"></script>
  <script src="/user/js/bootstrap.min.js"></script>
  <script src="/user/js/own-menu.js"></script>
  <script src="/user/js/jquery.lighter.js"></script>
  <script src="/user/js/jquery.magnific-popup.min.js"></script>
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
//search option
const fetchFilteredProducts = async () => {
      try {

        const searchQuery = document.getElementById('searchInput').value.trim();
       

        const queryParams = new URLSearchParams({
          search: searchQuery,
          
        });
       
        
       window.location.href=`/shop?${queryParams}`;

      } catch (error) {
        console.error('Error filtered products:', error);
      }
    };

    // Call the fetchFilteredProducts function whenever filter btn clicks 
    document.getElementById('searchButton').addEventListener('click',fetchFilteredProducts )







//product remove form cart 
    async function remove(productId) {
      
      try {
        const confirmation = await Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
        })

        if (confirmation.isConfirmed) {
          const response = await axios.delete('/cart/remove', { data: { productId } })
          if (response.data.success) {
            await Swal.fire({
              toast: true,
              position: 'top-end',
              icon: 'success',
              text: response.data.message,
              showConfirmButton: false,
              timer: 1000,
              timerProgressBar: true,
            }).then(() => {
              window.location.reload()
            })

          } else {
            await Swal.fire({
              toast: true,
              position: 'top-end',
              icon: 'error',
              text: response.data.message,
              showConfirmButton: false,
              timer: 1000,
              timerProgressBar: true,
            });
          }
        }

      } catch (error) {
        console.log(error.message);
      }
    }




    //product quantity increase
    async function increment(cartItemId, mrp, stock, index,grandTotal) {
      try {
       
        let totalElement = document.getElementById(`total${index}`);
        let quantityInput = document.getElementById(`quantity${index}`)
        let quantity = parseInt(quantityInput.value);

        if (quantity >= stock) {
          await Swal.fire({
            toast: true,
            position: 'top-end',
            icon: "info",
            title: ".....Oops",
            text: "Maximum quantity reached",
            timer: 1500,
            showConfirmButton: false,

          }).then(() => {
            window.location.reload()
          })

        }
      



        const response = await axios.post("/cart/increment", { cartItemId })
       
       
        if (response.data.success) {

          
          let totalAmount = mrp * (quantity + 1);
          let itemTotal = document.getElementById(`total${index}`);
          let itemTotalDown = document.getElementById('item-totals-down' + index);
          let totalCost = document.getElementById('totalCost');

          
          
          
          itemTotal.innerHTML = `<span class='price' ><small>₹</small>${totalAmount}</span>`;
          itemTotalDown.innerHTML = `<span class='text-primary' ><small>₹</small>${totalAmount}</span>`;
  
        window.location.reload();
        }
        if (!response) {
          await Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: "Failed",
            timer: 1500,
            showConfirmButton: false,

            text: response.data.message || "unable to increase quantity"
          })

        }

        if (response.data.success == false) {
          await Swal.fire({
            icon: "error",
            toast: true,
            position: 'top-end',
            title: 'Failed',
            showConfirmButton: false,
            timer: 1500,
            text: response.data.message || "unable to increase quantity"
          })


        }

      } catch (error) {

        console.log(error.message)
        await Swal.fire({
          icon: "error",
          title: 'Error',
          text: "Something Went Wrong",
          toast: true,
          position: 'top-end',
          timer: 1500,
          showConfirmButton: false,
        })
      }
    }

    async function decrement(cartItemId, mrp, stock, index,grandTotal) {

  
      try {
        let totalElement = document.getElementById(`total${index}`);
      let quantityInput = document.getElementById(`quantity${index}`)
      let quantity = parseInt(quantityInput.value);
      

        if (quantity <= 1) {
          await Swal.fire({
            icon: 'info',
            title: '...Oops',
            text: 'Minimum quantity reached',
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1500

          })



        }

        const response = await axios.post("/cart/decrement", { cartItemId })
        

        if (response.data.success) {

         
          let totalAmount = mrp * (quantity-1);
          let itemTotal = document.getElementById('total' + index);
          let itemTotalDown = document.getElementById('item-totals-down' + index);
          let totalCost = document.getElementById('totalCost');

          itemTotalDown.innerHTML = `<span class='text-primary' ><small>₹</small>${totalAmount}</span>`;
          itemTotal.innerHTML = `<span class='price' ><small>₹</small>${totalAmount}</span>`;
         
          window.location.reload();
        }
        if (!response.data.success) {
          await Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Failed to decrease the product',
            toast: true,
            position: 'top-end',

            showConfirmButton: false,
            timer: 1500
          })

        }



      } catch (error) {
        console.log(error.message)
        Swal.fire({
          icon: 'error',

          text: "Something went wrong",
          toast: true,
          position: 'top-end',

          showConfirmButton: false,
          timer: 1500
        });

      }

    }

    //    document.getElementById('proceedBtn').addEventListener('click', async ()=> {
    //       console.log("1111111111111111")
    //     try {
    //       const response = await axios.get("/checkout" )

    //         console.log(response.data," thsis is responser")


    //         if (response.data.success) {

    //             await Swal.fire({
    //                 toast: true,
    //                 position: 'top-end',
    //                 icon: 'success',
    //                 title: 'Proceeding to checkout',
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             }).then(()=>{
    //               window.location.href = '/checkout';
    //             })

    //         } else {
    //             await Swal.fire({
    //                 toast: true,
    //                 position: 'top-end',
    //                 icon: 'error',
    //                 title: response.data.message ,
    //                 showConfirmButton: false,
    //                 timer: 1500
    //             }).then(()=>{if (response.data.message === 'Cart is empty. Redirecting to cart page.') {
    //                 window.location.href = '/cart';
    //             }})

    //         }
    //     } catch (error) {
    //         console.log('Error:', error.message);
    //         await Swal.fire({
    //             toast: true,
    //             position: 'top-end',
    //             icon: 'error',
    //             title: 'An unexpected error occurred. Please try again later.',
    //             showConfirmButton: false,
    //             timer: 3000
    //         });
    //     }
    // })
    document.getElementById('proceedBtn').addEventListener('click', async () => {
      console.log("Proceed button clicked");
      try {
        const response = await axios.post("/cart/check");

        // // Check if response contains HTML content
        // if (response.headers['content-type'].includes('text/html')) {
        //   // Directly set the page content if HTML is returned
        //   document.open();
        //   document.write(response.data);
        //   document.close();
        if (response.data.success) {
          await Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Proceeding to checkout',
            showConfirmButton: false,
            timer: 500
          }).then(() => {
            window.location.href = '/checkout'
          })
        } else {
          await Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: response.data.message,
            showConfirmButton: false,
            timer: 1500
          })
        }
      } catch (error) {
        console.log('Error:', error.message);
        await Swal.fire({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'An unexpected error occurred. Please try again later.',
          showConfirmButton: false,
          timer: 3000
        });
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.js"></script>
</body>

</html>