
<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from invoma.vercel.app/?storefront=envato-elements by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Jun 2024 06:35:33 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <!-- Site Title -->
  <title>General Purpose Invoice</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
  
  
    <section class="breadcrumb-option mt-5 mb-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        
                        <div class="breadcrumb__links">
                            <a href="/" class="text-dark text-decoration-none">Home</a>
                            <span>></span>
                           
                            <a href="/user/profile" class="text-dark text-decoration-none">profile</a>
                            <span>></span>
                           
                            <a href="/user/order" class="text-dark text-decoration-none">Order</a>
                            <span>></span>
                           
                            <a href="/user/order/orderDetails?orderId=<%=orderData.orderId%>" class="text-dark text-decoration-none"> View Order Details</a>
                            <span>></span>
                            <span>Invoice</span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="tm_invoice_wrap">
      <div class="tm_invoice tm_style1" id="tm_download_section">
        <div class="tm_invoice_in">
          <div class="tm_invoice_head tm_align_center tm_mb20">
            <div class="tm_invoice_left">
              <div class="tm_logo"><img src="/image/download.png " alt="Logo"></div>
            </div>
            <div class="tm_invoice_right tm_text_right">
              <div class="tm_primary_color tm_f50 tm_text_uppercase">Invoice</div>
            </div>
          </div>
          <div class="tm_invoice_info tm_mb20">
            <div class="tm_invoice_seperator tm_gray_bg"></div>
            <div class="tm_invoice_info_list">
              <p class="tm_invoice_number tm_m0">Invoice No: <b class="tm_primary_color"><%=invoiceId %></b></p>
              <p class="tm_invoice_date tm_m0">Date: <b class="tm_primary_color"><%=new Date(orderData.createdAt).toLocaleDateString()%></b></p>
            </div>
          </div>
          <div class="tm_invoice_head tm_mb10">
            <div class="tm_invoice_left">
              <p class="tm_mb2"><b class="tm_primary_color">sold By:</b></p>
              <p>
                TikerShops pvt . ltd<br>
                Kinfra Techno industrial Park<br>
                National Highway 66 <br>
                Near Calicut University <br>
                Kakkanchery Chelembra PO <br>
                DT , Thenjipalam Kerala 673634
              </p>
            </div>
            <div class="tm_invoice_right tm_text_right text-align-left">
              <p class="tm_mb2"><b class="tm_primary_color">Billing Address</b></p>
              <p class="text-align-left">
                <%=orderData.address.name %><br>
                <%=orderData.address.house %>, 
                <%=orderData.address.locality %><br>
                <%=orderData.address.city %> , 
                <%=orderData.address.state %><br>
                <%=orderData.address.pincode %>
                <%=orderData.address.phone %><br>
             
              </p>
            </div>
          </div>
          <div class="tm_table tm_style1 tm_mb30">
            <div class="tm_round_border">
              <div class="tm_table_responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="tm_width_3 tm_semi_bold tm_primary_color tm_gray_bg">No</th>
                      <th class="tm_width_4 tm_semi_bold tm_primary_color tm_gray_bg">Item</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_gray_bg">Price</th>
                      <th class="tm_width_1 tm_semi_bold tm_primary_color tm_gray_bg">Qty</th>
                      <th class="tm_width_2 tm_semi_bold tm_primary_color tm_gray_bg tm_text_right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                 
                    <% delivered.forEach(elem => { %>
                      <% elem.orderedItems.forEach((item,index) => { %>
                        <tr>
                          <td class="tm_width_3"><%=index +1%></td>
                          <td class="tm_width_3"><%=item.productName%></td>
                          <td class="tm_width_4">₹<%=item.offerPrice%></td>
                          <td class="tm_width_2"><%=item.cartQuantity%></td>
                          <td class="tm_width_2 tm_text_right">₹<%=(item.offerPrice)*(item.cartQuantity)%></td>
                        </tr>
                      <% }) %>
                      
                    <% }) %>
                   
                     
                     
                      
                   
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tm_invoice_footer">
              <div class="tm_left_footer">
                <p class="tm_mb2 "><b class="tm_primary_color text-dark">Payment info:</b><%=orderData.paymentMethod%></p>
               
              </div>
              <div class="tm_right_footer">
                <table>
                  <tbody>
                    <tr>
                      <td class="tm_width_3 tm_primary_color tm_border_none tm_bold">Subtoal</td>
                      <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_bold">₹<%=totalSum%></td>
                    </tr>
                    <% if (totalSum<2500) { %>
                      <tr>
                        <td class="tm_width_3 tm_primary_color tm_border_none tm_pt0">Delivary  <span class="tm_ternary_color"></span></td>
                        
                        <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_pt0">₹99</td>
                      </tr>
                      <% } %>
                    
                    <tr class="tm_border_top tm_border_bottom">
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color">Grand Total	</td>
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color tm_text_right">₹<%=(totalSum<2500)?(totalSum+99):totalSum%></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="tm_invoice_btns tm_hide_print">
        <a href="javascript:window.print()" class="tm_invoice_btn tm_color1">
          <span class="tm_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="392" cy="184" r="24" fill='currentColor'/></svg>
          </span>
          <span class="tm_btn_text">Print</span>
        </a>
        <button id="tm_download_btn" class="tm_invoice_btn tm_color2">
          <span class="tm_btn_icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M320 336h76c55 0 100-21.21 100-75.6s-53-73.47-96-75.6C391.11 99.74 329 48 256 48c-69 0-113.44 45.79-128 91.2-60 5.7-112 35.88-112 98.4S70 336 136 336h56M192 400.1l64 63.9 64-63.9M256 224v224.03" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </span>
          <span class="tm_btn_text">Download</span>
        </button>
      </div>
    </div>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jspdf.min.js"></script>
  <script src="/assets/js/html2canvas.min.js"></script>
  <script src="/assets/js/main.js"></script>
</body>


</html>